<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="IMPSTransactionRouter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <!--<add key="ConnectionString" value="OqjosQxGNtreHj9ZsYYUrWnD1XHYUTz7sHY7Fdem5F7rmMdP1MH8LfMDp4AkdXG//0U+DsfnUv5O1ETDSH/EP8ft6JYByzl+sgbQKO7guCCvXoSP51dZ85UBbem3avTdxnWyOzCGdR3MxQ4y/Paf3VctWGsvj+jA2DFjdvZ+JCzHdnQy5A1cR3cWO4Vs8f1QQ5gdxtn3VzyNRcGy1COquZIWutJcxenBeQeD07mA74m5f6HeU7Qnel/m+NLlC7Agx2A+r+qfr6c77Kq2Kj6ISXft+O46u2hJ8FyZ3ucE8ubxitCH3G1ncwD/ffv3SJgBBTXRBNU7Iro=" />
    <add key="ConnectionStringOracle" value="OqjosQxGNtreHj9ZsYYUrWnD1XHYUTz7sHY7Fdem5F7rmMdP1MH8LfMDp4AkdXG//0U+DsfnUv5O1ETDSH/EP8ft6JYByzl+sgbQKO7guCCvXoSP51dZ85UBbem3avTdxnWyOzCGdR3MxQ4y/Paf3VctWGsvj+jA2DFjdvZ+JCzHdnQy5A1cR3cWO4Vs8f1QQ5gdxtn3VzyNRcGy1COquZIWutJcxenBeQeD07mA74m5f6HeU7Qnel/m+NLlC7Agx2A+r+qfr6c77Kq2Kj6ISXft+O46u2hJ8FyZ3ucE8ubxitCH3G1ncwD/ffv3SJgBBTXRBNU7Iro=" />-->
    <add key="ConnectionString" value="OqjosQxGNtreHj9ZsYYUrWnD1XHYUTz7Is7OarCos8jQuPdrczpiBlMQXZyHnbCXnb4sjMpbZjXGE5eYl/fLMpqHa82+uqUWFxArnRJgOpyq38UF4siw3/3DVwWOnf9Nrj6s39ArxE/N8I1Knm5A5FXtbhuox0OQWYeqZFNIuCG4ElRdUbmW5EyMh1apgZQH1rOmkQda4fwuaEY9lVLXzFCn7MO52pfMokcPloaDp510uf6bxXEcspZ8E7Ugs+P7LGVrLDE/AnPEWaktzcf57fIRqyW38TwFEaY+OKC5pfeOVBaiy/XBjOqf0IGFM42I" />
    <add key="ConnectionStringOracle" value="OqjosQxGNtreHj9ZsYYUrWnD1XHYUTz7Is7OarCos8jQuPdrczpiBlMQXZyHnbCXbmuaP6Mmw1T4gMBrf/zgFBA9+C1OlArekNM/19mUzm/REXqR6zpKGIyVL0ii8JDpd1zNGJVs+1Nyo3EhO+sOSEJC3VF/I3H2Sz2OQFtMarReu5a/Oz91g+3vu4D3z0K+tvf543tzEaO9rpAoxyKPurVXnvHj+JmAyhWF9p4FG5vsp0XsP2b8mJmgX+3hoC5QVmQk0MDe39pL7zRqCR2tA3wVPaaRHMFFHnMwxgEQ7J13PqxZ+EpBQHTP9P0N/aoW" />

    <add key="Provider" value="SqlClient" />
    <add key="MekKey1" value="bVPVF/lKLIFBQVaNGBQrGMxTwU1Hlle3DoIF1Z8MCcgkzcEahkQ8M6TfdqNlCPuwmmplflCzr7I=" />
    <add key="MekKey2" value="SsOsp5/ur4hCU203I+TcBCS453IOSYUDAZzkR4eMZdz6eBfA82CCpDP18c3uQLahZWi5C6RLJGQ=" />
    <add key="ConfigHID" value="false" />
    <add key="TransactionTimeOut" value="180" />
    <add key="HSMIP" value="172.25.54.64" />
    <add key="HSMPORT" value="9999" />
    <add key="MinConnection" value="20" />
    <add key="MaxConnection" value="50" />
    <add key="MaxWaitingTime" value="24000" />
    <add key="MaxRuningResourceTime" value="24000" />
    <add key="HSMResponseTime" value="300" />
    <add key="BankCode" value="1030" />
    <add key="SkipMPIN" value="false" />
    <add key="ScheduerPaymentTimer" value="04:16 PM" />
    <add key="URI" value="https://172.19.10.43/playsms/index.php?app=ws&amp;u=fcubs&amp;h=76e1783f30bfed92feabdc9e57ee76de&amp;op=pv&amp;to=" />
    <add key="Schema" value="BNBTND" />
    <add key="BT" value="202.144.156.136" />
    <add key="BTPOSTPAID" value="https://202.144.156.14/" />
    <add key="BPC_PAYMENT" value="http://119.2.120.103:8000/sap/bc/srt/rfc/sap/zisu_customer_mpay/800/zisu_customer_mpay/zisu_customer_mpay" />
    <add key="AutoMobileUpdate" value="true" />
    <add key="TCELL" value="https://10.70.112.221:8081/services/ArServices" />
    <add key="TCELLPREPAID" value="https://10.70.90.72:8090/RGWgateway/rest/recharge/xmlx" />
    <add key="WATER" value="http://202.144.146.163:9075/paymentInformation" />
    <!-- <add key="RICB" value="http://202.144.136.73/mpay/"/>-->
    <add key="RICB" value="https://apps.ricb.com.bt/mpay" />
    <add key="CHEQUEIMAGE" value="http://202.144.155.252:8077/" />
    <add key="BTACTIVE" value="true" />
    <add key="TCELLACTIVE" value="true" />
    <add key="BPCACTIVE" value="true" />
    <add key="WATERACTIVE" value="true" />
    <add key="NPPFACTIVE" value="true" />
    <add key="BTIP" value="202.144.156.136" />
    <add key="RRCOACTIVE" value="true" />
    <add key="RICBACTIVE" value="true" />
    <add key="TCELLIP" value="10.70.90.72" />
    <add key="BPCIP" value="119.2.120.103" />
    <add key="WATERIP" value="202.144.146.163" />
    <add key="NPPFIP" value="192.168.124.40" />
    <add key="SKIPVIEWLOANLOG" value="true" />
    <add key="BTPOSTPAIDACTIVE" value="true" />
    <add key="SERVERKEY" value="AAAA9P_o7CA:APA91bHNGz7ecFnEHLsALzIerE1JFbfrTilLVRJQwpLYC4_rZeRu6KMzDSFKAQM4NZJGzJJjYPUhsW5o8bq10G8iBUCAckyIlcLaJYnlwW69ApG2_2nX0XLymQ1G92XafdDXs57prz94" />
    <add key="WEBADDR" value="https://fcm.googleapis.com/fcm/send" />
    <add key="REQUESTMONEYNOTIFICATIONTITLE" value="DrukPay" />
    <add key="SERVERKEYIos" value="AAAAv_3TEeo:APA91bH0YzdMAVp8JenB-njGtOLGKK2CSbjVpERKMcSnUpCWEFzPbXadcbsZRTyxb3Ujk7waOQNc2NfubiwU_yfhMtboSnJWCo7OzwHh_wJqHnHrrZrK_bhiCO_VA8u2ToZPea-GznSJ" />
    <add key="SENDERID" value="744111386723" />
    <add key="MailAddress" value="drukpnbbank.bt" />
    <add key="MailName" value="DrukPay" />
    <add key="MailPort" value="465" />
    <add key="MailHost" value="drukpnbbank.bt" />
    <add key="MailUserName" value="drukpay@drukpnbbank.bt" />
    <add key="MailUserPassword" value="dpnb@2020" />
    <add key="MailUserTo" value="archana.hadawale@maximusinfoware.in" />
    <add key="MailUserCc" value="shilpi.singh@maximusinfoware.in" />
    <add key="MailUserBcc" value="abhishek.verma@maximusinfoware.in" />
    <add key="BTLEASELINE" value="http://202.144.156.14:8000/" />
    <add key="BTCASHIN" value="https://202.144.156.14:443/" />
    <add key="HostInterfaceAddress" value="tcp://172.25.54.64:9804/HostServerRemoteObject" />
    <add key="HostInterfaceAddress2" value="tcp://172.25.54.64:9805/HostServerRemoteObject" />
    <add key="HostInterfaceAddress3" value="tcp://172.25.54.64:9806/HostServerRemoteObject" />
    <add key="HostInterfaceAddress4" value="tcp://172.25.54.64:9807/HostServerRemoteObject" />
    <add key="MessageQueAddress" value="tcp://172.25.54.66:7881/NQRCRMARemoteObject" />
    <add key="BankQRBankCode" value="02" />
    <add key="SwitchPortNumber" value="7862" />
    <add key="BankQRBIN" value="940094" />
    <add key="SecurityModuleType" value="HSM" />
    <add key="BatchCount" value="6" />
    <add key="LoanDisable" value="true" />
    <add key="BankBIN" value="502942" />
    <add key="MinistatementRecordLength" value="87" />
    <add key="AutoLogoutValue" value="30000" />
    <add key="MerchantCategoryCode" value="6012" />
    <add key="TransactionCurrencyCode" value="064" />
    <add key="CardAccepterName" value="THIMPHU                THIMPHU      THBT" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="UserName" value="dpnb" />
    <add key="Password" value="DPNB2020" />
    <add key="MobileNoMaskIndex" value="0" />
    <add key="MobileMask" value="**********" />
    <add key="MobileCountryCode" value="975" />
    <add key="SMSIP" value="119.2.115.41" />
    <add key="SMSPORT" value="9000" />
    <add key="SMSUserName" value="dpnb" />
    <add key="SMSPWD" value="DPNB2020" />
    <add key="SMSProtocol" value="SMPP" />
    <add key="ServiceType" value="Transceiver" />

    <add key="TSMSIP" value="118.103.137.224" />
    <add key="TSMSPORT" value="5019" />
    <add key="TSMSUserName" value="pnbmax" />
    <add key="TSMSPWD" value="maxpnb" />
    <add key="TSMSProtocol" value="SMPP3.4" />
    <add key="TServiceType" value="Transceiver" />
    <add key="Recipient" value="97577378613" />
    <add key="IsRandomOTP" value="True" />
    <add key="RoundofValue" value="2" />
    <add key="ValidateDOB" value="false" />
    <add key="MinConnection" value="5" />
    <add key="MaxConnection" value="10" />
    <add key="BatchCount" value="1" />

    <add key="BTACCOUNT" value="110210021534" />
    <add key="TCRECHARGEACCOUNT" value="110020000332" />
    <add key="TCBILLACCOUNT" value="110210018965" />

    <add key="TAPIUser" value="esb6d" />
    <add key="TAPIPWD" value="esb6d" />
    <add key="TCELLGenarateToken_URL" value="http://10.70.130.213:8091/ticl/api/v1/authentication" />
    <add key="TashiOutstanding_URL" value="http://10.70.130.213:8091/ticl/api/v1/passthrough/@serviceid?filter=account" />
    <add key="TashiPayment_URL" value="http://10.70.130.213:8091/ticl/api/v1/passthrough" />


    <add key="BTUSERID" value="DPNBAGGR" />
    <add key="BTUSERPASS" value="kjldsxcv" />
 

    <add key="BTPOSTPAIDIP" value="202.144.156.14" />
    <add key="BTPREPAIDIP" value="202.144.156.14" />
    <add key="TCELLIP" value="202.144.156.14" />
    <add key="ISBTReversal" value="false" />

    <add key="BankName" value="Druk PNB Bank Ltd" />
    <add key="UserName" value="maxqrbharat" />
    <add key="pswd" value="M@xQR" />
    <add key="BhimQRCODE" value="http://localhost:53365/api/QrCode/QrCodeRequest" />
    <add key="IsAccountVerification" value="350000" />
    <add key="IsQRCodeVerification" value="360000" />
    <add key="BankIdentifier" value="3" />
    <!--<add key="Merchantidentifier" value="6370530000009994"/>-->

    <add key="SoundboxUser" value="demo1@proxgy.com" />
    <add key="SoundboxPWD" value="DemoAudioCube@123" />
    <add key="SoundboxGenarateToken_URL" value="https://cognito-idp.ap-northeast-1.amazonaws.com" />
    <add key="Payment_URL" value="https://ohzevmxq98.execute-api.ap-northeast-1.amazonaws.com/prod/soundbox" />
    <add key="Apikey" value="NzEd7iNVvY2TVVlixrrV19UVmsUUHQzF2TfCCp0D" />
    <add key="SkipTpin" value="True" />    
    <add key="WaitLoopCount" value="150" />
    <add key="SleepCount" value="200" />
    <add key="appPoolName" value="BOBWCF" />
    <add key="STATEMENTACTIVE" value="false" />
    <add key="SSMMK" value="49FBC7A88F61F4B3CB023270B634971C" />
    
    <!--firebase token-->
    <add key="ANDROIDJSON" value="~/druk-pnb-9c0bf-firebase-adminsdk-owots-8cb38e9ae7.json" />
    <add key="IOSJSON" value="~/drukpay-ac6b5-firebase-adminsdk-hm6dg-3db23f7707.json" />
    <add key="ANDROIDURL" value="https://fcm.googleapis.com/v1/projects/druk-pnb-9c0bf/messages:send" />
    <add key="IOSURL" value="https://fcm.googleapis.com/v1/projects/drukpay-ac6b5/messages:send" />
    <add key="TOKENURL" value="https://www.googleapis.com/auth/firebase.messaging" />
    
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  --> 
  <system.web>
    <customErrors mode="Off">
    </customErrors>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime executionTimeout="9999" maxRequestLength="2097151" />
    <authentication mode="None" />
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" />
        <bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.4.0" newVersion="5.8.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.4.0" newVersion="5.8.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.4.0" newVersion="5.8.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="FCUBSAccServiceSEIBinding" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="FCUBSRTServiceSEIBinding" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="FCUBSMessagingServiceSEIBinding" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="FCUBSAccFinServiceSEIBinding" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="FCUBSUPServiceSEIBinding" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="FCUBSCLServiceSEIBinding" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="BobIntegrationServicePortBinding">
          <security mode="Transport" />
        </binding>
        <binding name="BobIntegrationServicePortBinding1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://172.17.250.15:7070/FCUBSAccService/FCUBSAccService" binding="basicHttpBinding" bindingConfiguration="FCUBSAccServiceSEIBinding" contract="FCUBSAccService.FCUBSAccServiceSEI" name="FCUBSAccServiceSEI" />
      <endpoint address="http://172.17.250.15:7070/FCUBSRTService/FCUBSRTService" binding="basicHttpBinding" bindingConfiguration="FCUBSRTServiceSEIBinding" contract="FCUBSRTService.FCUBSRTServiceSEI" name="FCUBSRTServiceSEI" />
      <endpoint address="http://172.17.250.15:7070/FCUBSMessagingService/FCUBSMessagingService" binding="basicHttpBinding" bindingConfiguration="FCUBSMessagingServiceSEIBinding" contract="FCUBSMessagingService.FCUBSMessagingServiceSEI" name="FCUBSMessagingServiceSEI" />
      <endpoint address="http://172.17.250.15:7070/FCUBSAccFinService/FCUBSAccFinService" binding="basicHttpBinding" bindingConfiguration="FCUBSAccFinServiceSEIBinding" contract="FCUBSAccFinService.FCUBSAccFinServiceSEI" name="FCUBSAccFinServiceSEI" />
      <endpoint address="http://172.17.250.15:7070/FCUBSUPService/FCUBSUPService" binding="basicHttpBinding" bindingConfiguration="FCUBSUPServiceSEIBinding" contract="FCUBSUPService.FCUBSUPServiceSEI" name="FCUBSUPServiceSEI" />
      <endpoint address="http://172.17.250.15:7070/FCUBSCLService/FCUBSCLService" binding="basicHttpBinding" bindingConfiguration="FCUBSCLServiceSEIBinding" contract="FCUBSCLService.FCUBSCLServiceSEI" name="FCUBSCLServiceSEI" />
      <endpoint address="https://103.7.255.29:8443/bobIntegrationService" binding="basicHttpBinding" bindingConfiguration="BobIntegrationServicePortBinding" contract="RRCO.BobIntegrationService" name="BobIntegrationServicePort" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <IMPSTransactionRouter.Properties.Settings>
      <setting name="IMPSTransactionRouter_NPPF_Service" serializeAs="String">
        <value>http://119.2.119.196/Service.svc</value>
      </setting>
    </IMPSTransactionRouter.Properties.Settings>
  </applicationSettings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=aspnet-IMPSTransactionRouter-20201022140418;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-IMPSTransactionRouter-20201022140418.mdf" />
  </connectionStrings>
</configuration>